<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div>
  <%= form_tag("/users", method: :get) do %>
  <div class="fields">
    <input type =text name="search"/>
  </div>
  <div class = "actions">
    <input type=submit value='Search'/>
  </div>
  <% end %>
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Password</th>
      <th>emp_code</th>
      <th>email</th>
      <th>password_confirmation</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mobile %></td>
        <td><%= user.password %></td>
         <td><%= user.emp_code %></td>
         <td><%= user.email %></td>
         <td><%= user.password_confirmation %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
